/*.slider {*/
/*    width: 720px;*/
/*    height: 400px;*/
/*    overflow: hidden;*/
/*}*/

/*.slider .slides {*/
/*    display: block;*/
/*    width: 6000px;*/
/*    height: 400px;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.slider .slide {*/
/*    float: left;*/
/*    list-style-type: none;*/
/*    width: 720px;*/
/*    height: 400px;*/
/*}*/


body {
    background-color: black;
}

.slider {
    width: 700px;
    height: 500px;
    overflow: hidden;
    margin: auto;
}

.slide {
    float: left;
    width: 700px;
    height: 500px;
}

.holder {
    width: 700%;
}

.container {
    width: 700px;
}

button {
	margin: center;
}

.slide1 {background: red;}
.slide2 {background: blue;}
.slide3 {background: yellow;}
.slide4 {background: black;}
.slide5 {background: green;}
.slide6 {background: orange;}
.slide7 {background: pink;}
